# IDE files
.vscode/

# Build artifacts
build
install
subprojects

# Logs and dump files
*.stackdump
example.log

# Tests
build_tests

.zig-cache
zig-out

ulog_all_features.log

ulog_all_features
ulog_example

*.o
